// Bourbon
@import "bourbon";

// Font Weights
$light: 100;
$regular: 400;
$bold: 600;

// Colors
$base-color: #3a3a3a;
$primary-color: #84B02B;

// Base Font
$base-font-family: lato, sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.55;

// Headings
$header-font-family: pt-sans-narrow, sans-serif;
$header-font-weight: $bold;